<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059209286670-jt3u0be4ju59v0pv608oaqagnreebmaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059209286670-jt3u0be4ju59v0pv608oaqagnreebmaa</string>
	<key>API_KEY</key>
	<string>AIzaSyBSH7Ra7rC1TGbOZR75nL0OxcSDDRXCwtY</string>
	<key>GCM_SENDER_ID</key>
	<string>1059209286670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage</string>
	<key>PROJECT_ID</key>
	<string>garbagecollection-e3d40</string>
	<key>STORAGE_BUCKET</key>
	<string>garbagecollection-e3d40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059209286670:ios:3301d0e661204873ab985f</string>
</dict>
</plist>